@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './base.css';

body {
  font-family: "Roboto", sans-serif;
  color: #424242;

  .el-message-box {
    padding: 24px;
    width: 480px;
    min-width: 480px;
    .el-message-box__headerbtn {
      right: 12px;
      top: 12px;
    }
  }
}

.hover-icon {
  transition: var(--el-transition-duration);
  &:hover {
    cursor: pointer;
    color: var(--el-color-primary);
  }
  &--danger {
    &:hover {
      color: var(--el-color-danger);
    }
  }

  .full-width {
    width: 100%;
  }
}
